header {background: #004175;
        padding-left: 30px;
        width: 75%;
        border-bottom: 3px solid #89DEEF;
        color: #FFFFFF;
        font-family: "Open Sans";
        font-size: 36px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: right;
        margin: 0 auto;
        }

body {background: #d3d3d3;
      margin-top: 0; }

.parent-container {background: #ffffff;
    margin: 0 auto;
    width: 75%;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
     } 

.container-one {font-family: "Open Sans";
         display: column;
         justify-content: flex-start;
         }

h1 {
    font-size: 24px;}

p {
    font-size: 16px;
}

.dog-container {display: grid; 
    grid-template-columns: 300px 300px 300px;    
    grid-template-rows: 400px 400px 400px; 
                   
    flex-wrap: wrap;                     
    justify-content: baseline;}

h2 {font-family: "Oswald";
    font-size: 18px;
    margin-top: 0;}

.cell {justify-content: space-around;
    display: flex-start;
    }

li {font-family: "Open Sans";
    font-size: 12px;
    list-style-type: none;
    display: inline-block;
    text-align: left;
    background: #89DEEF;
    border-radius: 100px;
    margin-bottom: 10px;
    
    }
ul {padding: 0px;}
    

img {width: 250px;
    height: auto;}